{% extends "layoutWithMenu.html" %}

{% block body %}
<h2>
	{% if actionType == "Modifier" %}
		Modification
	{% else %}
	Ajout
	{% endif %}
	de « {{action}} »</h2>
<div class="card" style="width: 40rem;">
	<div class="card-body">
		<form action="/admin/{{action}}/save" method='POST'>
			<input name=_csrf_token type=hidden value="{{ csrf_token() }}">	
			{% for header in headers %}
			<div class="form-group">
			<label>{{header}} :</label>
				{% if actionType == "Modifier" %}
					<div>
						{% if key == header %}
							<input type='hidden' value='{{object[header]}}' name='{{header}}' />
							{{object[header]}}
						{% elif 'qrcode_' in header %}
							<input type='hidden' value='{{object[header]}}' name='{{header}}' />
							<div id="qrcode"></div>
							<script>
								new QRCode(document.getElementById("qrcode"), "otpauth://totp/CSO?secret={{object[header]}}&issuer=CSO");
							</script>
						{% else %}
							<input type='text' class="form-control" placeholder="{{header}}" value='{{object[header]}}' name='{{header}}' />
						{% endif %}
					</div>
				{% else %}
					<div><input type='text' class="form-control" value='' placeholder="{{header}}" name='{{header}}' /></div>
				{% endif %}
			</div>
			{% endfor %}

			<div class="text-center">
				<input type='submit' class='btn btn-info' value='{{actionType}}' />
			</div>
		</form>
	</div>
</div>

{% endblock %}