<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" />
	<title>CSO</title>
	<link href="/static/styles/main.css" rel="stylesheet" type="text/css"/>
	<link href="/static/styles/inputs.css" rel="stylesheet" type="text/css"/>
	<link href="/static/styles/menu.css" rel="stylesheet" type="text/css"/>
	<link href="/static/styles/btns.css" rel="stylesheet" type="text/css"/>	
	<link href="/static/styles/tables.css" rel="stylesheet" type="text/css"/>	
	<script src="/static/scripts/qrcode.min.js"></script>
</head>
<body>
	<div id="sidebar">
		<ul id="nav">
			<li><a href="/admin/users/list">Gestion des utilisateurs</a></li>
			<li><a href="/admin/apps/list">Gestion des applications</a></li>
			<li><a href="/logout?next=/admin/logout">D&eacute;connexion</a></li>
		</ul>
	</div>
	<div id='content'>
		{% block body %}{% endblock %}
	</div>
</body>
</html>
