{% extends "layoutWithMenu.html" %}

{% block body %}

<div class="row">
	<div class="col">
		<h2>Liste des « {{action}} »</h2>
	</div>
	<div class="col text-right">
		<a href='/admin/{{action}}/add' class='btn btn-outline-primary'>Ajouter</a>
	</div>
</div>
<br />

<table class="table">
	<thead>
		<tr>
			{% for header in headers %}
			<th>{{header}}</th>
			{% endfor %}
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for items in list %}
		<tr>
			{% for header in headers %}
			<td>{{items[header]}}</td>
			{% endfor %}
			<td class="text-right">
				{% if not disable_modification %}<a href='/admin/{{action}}/get/{{items[key]}}' class='btn btn-info btn-sm'>Modification</a>{% endif %}
				{% if not disable_remove %}<a href='/admin/{{action}}/remove/{{items[key]}}/confirm' class='btn btn-danger btn-sm'>Suppression</a>{% endif %}
			</td>
		</tr>
		{% endfor %}
		{% if not list %}
		<tr>
			<td colspan="2" class="text-center">Aucun « {{action}} »</td>
		</tr>
		{% endif %}	
	</tbody>
</table>
{% endblock %}