{% extends "layoutWithMenu.html" %}

{% block body %}

<a href='/admin/{{action}}/add' class='btn info'>Ajouter</a>
<br />

<table>
	<thead>
		<tr>
			<th>Actions</th>
			{% for header in headers %}
			<th>{{header}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for items in list %}
		<tr>
			<td>
				{% if not disable_modification %}<a href='/admin/{{action}}/get/{{items[key]}}' class='btn info'>Modification</a>{% endif %}
				{% if not disable_remove %}<a href='/admin/{{action}}/remove/{{items[key]}}/confirm' class='btn danger'>Suppression</a>{% endif %}
			</td>
			{% for header in headers %}
			<td>{{items[header]}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		{% if not list %}
		<tr>
			<td colspan="2">Aucun « {{action}} »</td>
		</tr>
		{% endif %}	
	</tbody>
</table>
{% endblock %}