{% extends "layoutWithMenu.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card col-sm">
                <div class="card-header">
                    <h5 class="card-title">Changer le mot de passe d'un utilisateur</h5>
                </div>
                <div class="card-body">

                    <form method="post">

                        <h5>
                            Votre mot de passe
                        </h5>
                        <hr>
                        <div class="form-group">
                            <input name='adminp' type='password' autocomplete="new-password" class="form-control" value='' placeholder='Mot de passe de votre utilisateur' />
                        </div>

                        <h5>
                            Détail du compte à modifier
                        </h5>
                        <hr>
                        <div class="form-group">
                            <input name='targetl' type='text' class="form-control" value='' placeholder="Login de l'utilisateur" />
                        </div>

                        <div class="form-group">
                            <input name='targetp' type='password' class="form-control" value='' autocomplete="new-password" placeholder='Nouveau mot de passe' />
                        </div>


                        <div class="text-center">
                            <input type='submit' class='btn btn-info' id="submit" disabled value="Changer le mot de passe" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}