{% extends "layoutWithMenu.html" %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="card col-sm">
                <div class="card-header">
                    <h5 class="card-title">Changer le mot de passe d'un utilisateur</h5>
                </div>
                <div class="card-body">

                    <form method="post">

                        <h6 class="card-title">
                            Votre mot de passe
                        </h6>
                        <div class="form-group">
                            <input name='adminp' id="adminp" type='password' autocomplete="new-password" class="form-control" value='' placeholder='Mot de passe de votre utilisateur' />
                        </div>

                        <h6 class="card-title">
                            Détail du compte à modifier
                        </h6>
                        <div class="form-group">
                            <input name='targetl' id="targetl" type='text' class="form-control" value='' placeholder="Login de l'utilisateur" />
                        </div>

                        <div class="form-group">
                            <input name='targetp' id="targetp" type='password' class="form-control" value='' autocomplete="new-password" placeholder='Nouveau mot de passe' />
                        </div>


                        <div class="text-center">
                            <input type='submit' class='btn btn-info' id="submit" value="Changer le mot de passe" />
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <style>
        h6.card-title{
            font-size: 1.2rem !important;
            margin-bottom: 0.5rem !important;
        }

    .form-group{
        padding-left: 20px;
    }
    </style>
{% endblock %}