{% extends "layout.html" %}

{% block body %}
<form action="/doLogin" method="post">
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">	
	{% if error != "" %}<div class="alert alert-warning" role="alert">{{error}}</div>{% endif %}
	<div class="form-group">	
		<input name='username' id="username" type='text' autofocus autocomplete="username" class="form-control" value='' placeholder='Utilisateur' />
	</div>
	<div class="form-group">	
		<input name='password' id="password" type='password' autocomplete="current-password" class="form-control" value='' placeholder='Mot de passe' />
	</div>
	<div class="form-group">	
		<input name='totp' type='text' class="form-control" value='' autofocus placeholder='Code OTP' />
	</div>
	<input type='submit' class="btn btn-success" value="Connexion" />
	<input type='hidden' name='next' value='{{next}}' />
	<input type='hidden' name='apps' value='{{apps}}' />
</form>
{% endblock %}
