{% extends "layout.html" %}

{% block body %}
<div id='centerBox' style='padding-bottom:20px;'>
	<form action="" id='continuBox' method="post">
		<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
		<input type='hidden' name='next' value='{{next}}' />
		<div class='center'>
			<input type='button' class='btn large primary' onclick="doAction('/logoutApps')" value="D&eacute;connexion de l'application" />
			<br><br>
			<input type='button' class='btn large danger' onclick="doAction('/logoutAll')" value="D&eacute;connexion de tous les services" />
		</div>
	</form>

	<script>
		function doAction(action){
			document.getElementById("continuBox").action = action;
			document.getElementById("continuBox").submit();
		}
	</script>
</div>
{% endblock %}