{% extends "layout.html" %}

{% block body %}

<form action="" id='continuBox' method="post">
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<input type='hidden' name='next' value='{{next}}' />
	<input type='button' class="btn btn-outline-primary" onclick="doAction('/logoutApps')" value="D&eacute;connexion de l'application" />
	<br><br>
	<input type='button' class="btn btn-outline-danger" onclick="doAction('/logoutAll')" value="D&eacute;connexion du CSO" />
</form>

<script>
	function doAction(action){
		document.getElementById("continuBox").action = action;
		document.getElementById("continuBox").submit();
	}
</script>

{% endblock %}