<!-- Page de détail utilisateur -->
{% extends "layoutAccount.html" %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Vos informations</h5>
    </div>
    <div class="card-body">
        
        <div class="row">
            <div class="col">
                <b>Login</b>
            </div>
            <div class="col">
                <div style="padding: 8px">{{username}}</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <b>Mot de passe</b>
            </div>
            <div class="col">
                <a href="/password" class="btn btn-sm btn-primary ma-0">Modifier mon mot de passe</a>            
            </div>
        </div>
        
        <div class="pt-2">
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header">
        <h5 class="card-title">Authentification multi-facteurs</h5>
    </div>
    <div class="card-body">
        {% if has_otp_enabled %}
            <button type="button" class="btn btn-raised btn-warning">Désactiver l'OTP</button>
        {% else %}
            <button type="button" class="btn btn-raised btn-primary">Activer l'OTP</button>
        {% endif %}

    </div>
</div>

{% endblock %}