{% extends "layout.html" %}

{% block body %}
<form action="{{next}}" id='continuBox' method="post">
	<input name=_csrf_token type=hidden value="{{ csrf_token() }}">
	<input type='hidden' value='{{signature}}' name='signature' />
	<input type='hidden' value='{{values}}' name='values' />
	<br />
	<label>Redirection vers « {{apps}} » en cours...</label>
</form>

<script type="text/javascript"> 
	window.onload = init; 
	function init(){
		document.getElementById('continuBox').submit();
	}
</script>

{% endblock %}